{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "new-cap": 0,
    "no-underscore-dangle": 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "console": true,
    "require": true
  },
  "ecmaFeatures": {
    "modules": true
  }
}
